:root {
  --primary-color: #260065;
  --primary-background-color: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9));
}

html {
    background: var(--primary-background-color);
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

/* Sidebar links */
.sidebar a {
    color: var(--primary-color);
}

/* Active/current link */
.sidebar a.active {
  color: #531DACFF;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #531DACFF;
}

/* The Overlay (background) */
.overlay {
  position: fixed;
  bottom: -100%;
  left: 0;
  z-index: 1;
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.25s;
}

.overlay a {
  color: var(--primary-color);
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #531DACFF;
}


/* must be applied only for index.html */
body {
  overflow: hidden;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.login-title {
  font-size: 1.1rem;
  color: var(--primary-color);
  text-align: center;
  margin: 0.5rem;
}

.login-image {
  width: 8%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-label-text {
  color: var(--primary-color);
  font-size: 0.8rem;
}

.logo-hide {
  max-width: 30%;
  padding-right: .2rem;
}
.button-hide {
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-component{
  border-radius: 10px;
  border: 1px var(--primary-color) solid;
}

#card-body{
  padding: 2rem 0.9rem;
}

#email-field, #password-field{
  height: 2rem;
  max-width: 22rem;
  width: 22rem;
  border-radius: 10px;

}

.check-terms-conditions {
  display: flex;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}


#checkbox-terms {
  width:1.2rem;
  height: 1.2rem;
  border-radius: 10%;
}
#checkbox-terms:checked {
  background-color: var(--primary-color);
  background-image: linear-gradient(-45deg,transparent 65%,var(--primary-color) 65.99%),
                    linear-gradient(45deg,transparent 75%,var(--primary-color) 75.99%),
                    linear-gradient(-45deg,var(--primary-color) 40%,transparent 40.99%),
                    linear-gradient(45deg,var(--primary-color) 30%,white 30.99%,
                    white 40%,transparent 40.99%),
                    linear-gradient(-45deg,white 50%,
                    var(--primary-color) 50.99%);
}

#terms-text{
  padding-left: 0.5rem;
  font-size: 0.7rem;
  color: var(--primary-color);
  padding-top: 0.7rem;
  opacity: 75%;
}

.button-main{
  background-color: var(--primary-color);
  color: white;
  padding: 0.3rem;
  border: none;
  width: 115px;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
}

.button-main:hover {
  opacity: 95%;
}

.button-signup {
  background-color: white;
  color: var(--primary-color);
  opacity: 75%;
  padding: .2rem .5rem;
  border: var(--primary-color) 1px solid;
  width: 80px;
  border-radius: 10px;
  font-size: .8rem;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .6rem;
}

#signup-text {
  font-size: 0.7rem;
  color: var(--primary-color);
  padding-top: 0.5rem;
  text-align: center;
  opacity: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#email-label-text{
  padding-top: 1rem;
}

.label-input-fields {
  display: flex;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem .25rem .5rem;
}

#divider-with-text {
  opacity: 80%;
  font-size: 0.8rem;

}

#divider-with-text::before, #divider-with-text::after {
  opacity: 75%;
  background-color: var(--primary-color);
}
