:root {
  --primary-color: #260065;
  --primary-background-color: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9));
}

html {
    background: var(--primary-background-color);
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

/* Sidebar links */
.sidebar a {
    color: var(--primary-color);
}

/* Active/current link */
.sidebar a.active {
  color: #531DACFF;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #531DACFF;
}

/* The Overlay (background) */
.overlay {
  position: fixed;
  bottom: -100%;
  left: 0;
  z-index: 1;
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.25s;
}

.overlay a {
  color: var(--primary-color);
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #531DACFF;
}


/* must be applied only for index.html */
body {
  overflow: hidden;
}

.scrollmenu {
  width: 95rem;
  height: 75rem;
  position: absolute;
  top: 15%;
  right: 10%;
  background-color: white;
  overflow-x: auto;
  white-space: nowrap;
}

.product-image {
  display: inline-block;
  width: 35%;
  margin-right: -15rem;
}

@media screen and (max-height: 750px){
  .product-image {
    width: 30%;
    margin-right: -13rem;
  }
}

@media screen and (max-height: 650px){
  .product-image {
    width: 25%;
    margin-right: -11rem;
  }
}

@media screen and (max-height: 550px){
  .product-image {
    width: 20%;
    margin-right: -9rem;
  }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .product-image {
    width: 20%;
    margin-right: -7rem;
  }
}

@media screen and (max-width: 1900px) {
  .scrollmenu {
    width: 85rem;
  }
}

@media screen and (max-width: 1768px) {
  .scrollmenu {
    width: 80rem;
  }
  .product-image {
    margin-right: -13rem;
  }
}

@media screen and (max-width: 1668px) {
  .scrollmenu {
    width: 75rem;
  }
  .product-image {
    margin-right: -11rem;
  }
}

@media screen and (max-width: 1568px) {
  .scrollmenu {
    width: 69rem;
  }
}

@media screen and (max-width: 1468px) {
  .scrollmenu {
    width: 65rem;
  }
}

.login-title, .text-label, #signup-text, #divider-with-text{
  color: var(--primary-color);
}

#card-component{
  border: 1px var(--primary-color) solid;
}

#checkbox-terms {
  width:1.2rem;
  height: 1.2rem;
  border-radius: 10%;
}
#checkbox-terms:checked {
  background-color: var(--primary-color);
  background-image: linear-gradient(-45deg,transparent 65%,var(--primary-color) 65.99%),
                    linear-gradient(45deg,transparent 75%,var(--primary-color) 75.99%),
                    linear-gradient(-45deg,var(--primary-color) 40%,transparent 40.99%),
                    linear-gradient(45deg,var(--primary-color) 30%,white 30.99%,
                    white 40%,transparent 40.99%),
                    linear-gradient(-45deg,white 50%,
                    var(--primary-color) 50.99%);
}

.button-main{
  background-color: var(--primary-color);
}

.button-main:hover {
  background-color: #531DACFF;
}

.button-signup {
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}

#divider-with-text::before, #divider-with-text::after {
  opacity: 80%;
  background-color: var(--primary-color);
  color: var(--primary-color);
}
